# Logs Airflow
logs/
*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env (ne jamais commiter les secrets)
.env

# Docker volumes locaux
minio-data/
pg-data/

# IDE
.vscode/
.idea/
*.swp
